.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--darkBlue);
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 10%;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10%;
}